<DOCTYPE html>
	<html>
	<head>
		<title>MagicPix</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="magic.css">
	</head>
	<body>
		<h1>BIG PIC</h1>
		<a href = 'pixmap' ><img src="original.jpg"></a>



		<footer>by @fontcuberta</footer>
	</body>
	</html>