<DOCTYPE html>
	<html>
	<head>
		<title>MagicPix</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="magic.css">
	</head>
	<body>

	<header><a href='/'>MagicPix</header></a>
	<form action="/pixmap" method="POST" enctype="multipart/form-data">
		<p>
			<label for="file">New Picture:</label>
			<input type="file" name="pic">
		</p>

		<p>
			<input name="commit" type="submit" value="Upload" />
		</p>
	</form>
		<footer>by @fontcuberta</footer>
	</body>
	</html>



