<DOCTYPE html>
	<html>
	<head>
		<title>MagicPix</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="magic.css">
	</head>
	<body>
		<header><a href='/'>MagicPix</header></a>
		<h1>Login</h1>

		<form action="/" method="post" >
		<p>
			<label for="username">User:</label>
			<input type="text" name="username">
		</p>

		<p>
			<label for="password">Password:</label>
			<input type="text" name="password">
		</p>

		<button type="submit" name="add">Go!</button>
</form>	
		<footer>by @fontcuberta</footer>
	</body>
	</html>