<DOCTYPE html>
	<html>
	<head>
		<title>Calcul8or</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="calc.css">
	</head>
	<body>
		<h1>Bye bye...</h1>

		<a href="/">Home</a> 
	<footer>@fontcuberta</footer>
	</body>
	</html>